@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --header-height: 3.5rem;



    --hue: 228;
    --first-color: hsl(var(--hue), 45%, 42%);
    --title-color:#fff ;
    --text-color: hsl(var(--hue), 8%, 65%);
    --body-color: hsl(var(--hue), 26%, 11%);
    --container-color: hsl(var(--hue), 22%, 12%);
    --container-color-light: hsl(var(--hue), 21%, 14%);
    --border-color: hsl(var(--hue), 23%, 24%);
    --black: #000;



    --body-font: 'Montserrat',sans-serif;
    --big-font-size:2.5rem ;
    --h1-font-size:1.75rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.625rem;


    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    --transition: ease-in-out;

}


@media screen and (max-width: 992px){
    :root{
        --big-font-size: 1.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.6;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: .75rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block:4rem 2.5rem;
}
.section_title{
    font-size: var(--h1-font-size);
    margin-bottom: 1.75rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav{
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    display: flex;
    column-gap: 1.75rem;
}

.nav_link{
    color: var(--title-color);
    transition: all 0.3s var(--transition);
}

.nav_close,.nav_toggle{
    display: none;
}

.scroll-header{
    background-color: var(--black);
}

.nav_link:hover, .active-link{
    color: var(--first-color);
}

.home{
    background-image: url(./img/1000060103.jpg);
    background-size: cover;
    background-position: center;
    padding-block: 6rem 2rem ;
}
.home_container{
    grid-template-columns: 4fr 8fr;
    align-items: center;
}
.home_title{
   font-size: var(--big-font-size);
   text-transform: uppercase; 
}
.home_description{
    margin-block: 1.25rem 1.5rem;
}

.brand_item{
    background-color: var(--container-color);
    height: 100px;
    border-radius: .5rem;
    display: grid;
    place-items: center;
}

.brand_logo{
       width: 88%;
}
.dropdown-btn{
    background-color: transparent;
    font-size: var(--small-font-size);
    box-shadow: none;
    border-style: solid;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e60000;
}

.show {
    display: block;
}

/*======================== ANIME ======================*/
.anime_item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}
.anime_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.5s var(--transition);
}

.anime_item:hover .anime_img{
    transform: scale(1.1);
}

.anime_data{
    
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, var(--black) 20%, hsla(0, 0%, 22%, 0.04)100%);
    width: 100%;
    height: 124px;
    padding: 1.5rem 1.25rem 0;
}

.anime_title{
    font-size: var(--normal-font-size);

}

.anime_detail{
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-block: .5rem .75rem;
    display: block;
}


.anime_rating{
    font-size: var(--small-font-size);
    color: hsl(39, 100%, 55%);
}



.logo{
    color: #fff;;
    font-size: 1.5rem;
    font-weight: bolder;
}

header .logo i{
    color: crimson;
}

.trending_anime{
    background-color: var(--container-color-light);
}

.footer_container{
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}

.footer_bottom{
   background-color: var(--black);
   padding-block: 1rem;
}

.footer_copyright{
    color: var(--title-color);
    text-align: center;
}

@media screen and (max-width: 1400px){
    .container {
        max-width:1140px;
    }
    .home_container{
        grid-template-columns: 5fr 7fr;
    }
    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width:960px;
    }
    .home_container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 992px) {
    .container {
        max-width:720px;
    }
    .home_container{
        grid-template-columns: 1fr;
    }
    .home_content{
        order:1;
    }
    .item_title,.tweet_title{
        font-size: var(--small-font-size);
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--title-color);
        width: 400px;
        height: 100%;
        padding: 4rem 1rem;
        transition: all 0.3s var(--transition);
    }
    .show-menu{
        right:0;
    }
    .nav_list{
        flex-direction: column;
        row-gap: 0.75rem;
    }
    .nav_link,.nav_close{
        color: var(--black);
    }
    .nav_link{
        padding: 0.75rem;
    }
    .active-link{
        background-color: var(--first-color);
        color: var(--title-color);
        display: block;
    }
    .nav_close,.nav_toggle{
        display: block;
        font-size: var(--h2-font-size);
    }
    .nav_toggle{
        color: var(--title-color);
    }
    .nav_close{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .footer_container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 576px){
    .section{
        padding-block: 3rem;

    }
    .nav{
        height: var(--header-height);
    }
    .nav_menu{
        width: 100%;

    }
    .footer_container{
        padding-block: 2rem;
    }
}
@media screen and (max-width: 450px){
    .brand_logo{
        width: 55%;
    }
    
}